@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    
}

:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;
    --main1-color:#FF0000;
    --main5-color:#a600ff;

}

html {
    font-size: 62.5%;
    overflow-x: hidden;

}




body {
    /*background: var(--bg-color);*/
    background-color: black;

    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
     

}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    /*background: var(--bg-color);*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.header.sticky {
    border-bottom: .1rem solid rgba(0, 0, 0, 0.2);
}
.changeColor{
    background-color: rgba(34,34,34,0.8);
  }

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.navbar a{
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);

}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;

}
span {
    color: var(--main1-color);
}
h3{
    font-size: 3.2rem;
    font-weight: 700;
}

.imgCha{
    width: 700px;
    height: 440px;
    background-color: #323946;
    border-radius: 10px;
}


* {box-sizing: border-box}
      body {font-family: Verdana, sans-serif; margin:0}
      .mySlides {display: none}
      img {vertical-align: middle;}
      /* Slideshow container */
      .slideshow-container {
         max-width: 1000px;
         position: relative;
         margin: auto;
      }
      /* Next & previous buttons */
      .prev, .next {
         cursor: pointer;
         position: absolute;
         top: 50%;
         width: auto;
         padding: 16px;
         margin-top: -22px;
         color: white;
         font-weight: bold;
         font-size: 18px;
         transition: 0.6s ease;
         border-radius: 0 3px 3px 0;
         user-select: none;
         
      }
      /* Position the "next button" to the right */
      .next {
         right: 0;
         border-radius: 3px 0 0 3px;
      }
      /* On hover, add a black background color with a little bit seethrough */
      .prev:hover, .next:hover {
         background-color: rgba(0,0,0,0.8);
      }
      /* Caption text */
      .text {
         color: black;
         font-size: 15px;
         padding: 8px 12px;
         position: absolute;
         bottom: 8px;
         width: 100%;
         text-align: center;
      }
      /* Number text (1/3 etc) */
      .numbertext {
         color: #f2f2f2;
         font-size: 12px;
         padding: 8px 12px;
         position: absolute;
         top: 0;
      }
      /* The dots/bullets/indicators */
      .dot {
         cursor: pointer;
         height: 15px;
         width: 15px;
         margin: 0 2px;
         background-color: #ffffff;
         border-radius: 50%;
         display: inline-block;
         transition: background-color 0.6s ease;
      }
      .active, .dot:hover {
         background-color: #ff0000;
      }











.vid1{
    margin-top: 40px;
    width: 700px;
    border-radius: 20px;
}
.gamedis{
    margin-left: 750px;
    margin-top: -400px;
    border-radius: 20px;
    background-color: #323946;
    width: 500px;
    display: flexbox;
}
.disOpt{
    width: 300px;
    padding-left: 20px;

    font-size: 1.9rem;
}
.disAns{
    width: 200px;
    text-align: end;
    padding-right: 20px;

    font-size: 1.9rem;
}
.disLine{
    margin-left: 20px;
    width: 460px;
    height: 1px;
    background-color: aliceblue;
}

.hr1{
    width: 5px;
    background-color: white;
}
.yellow-line{
    border: 10px bold rgb(201, 199, 199);
  }
.head1{
    font-size: 2.7rem;
    font-weight: 500;
}
.Writing{
    
    background-color:#323946;
}

.Overview{
    margin-top: -100px;
    padding-left: 200px;
    padding-right: 200px;
}
.Story{
    padding-left: 200px;
    padding-right: 200px;
}

.line3{
    width: 1300px;
    height: 3px;
    background-color: #fff;
}
.line1{
    margin-left: 45px;
    width: 400px;
    height: 1px;
    background-color: #fff;
}
.line{
    width: 1300px;
    height: 3px;
    margin-top: 50px;
    background-color: #fff;
}

.img5{
    width: 500px;
    border-radius: 10px;
}
.services h2 {
    margin-bottom: 5rem;
    font-size: 3rem;
    text-align: center;
}

.services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;

}
.services{
    background-color:black;
}
.services-container .services-box {
    flex: 1 1 20rem;
    background: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .5s ease;
}

.services-container .services-box:hover {
    border-color: var(--main1-color);
    transform: scale(1.02);
}

.services-box i {
    font-size: 6rem;
    color: var(--main1-color);

}

.services-box h3 {
    font-size: 2.1rem;
}

.services-box p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}
.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main1-color);

    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main1-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

.btn:hover {
    box-shadow: none;
}

.gameplay{
    background-color: #323946;
    padding-left: 300px;
    padding-right: 300px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--bg-color);
}

.footer-text p {
    font-size: 1.6rem;
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main1-color);
    border-radius: .8rem;
    transition: .5s ease;
}
    
.footer-iconTop a:hover {
    box-shadow: 0 0 1rem var(--main1-color);
}
    
.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--second-bg-color);
}


